<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../css/politicaAulasPagamentos.css">
</head>

<body>
    <div class="body">
    <p class="texto">
        <h1 class="titulo">Políticas de Aulas e Pagamentos</h1>
    </p>

    <p class="texto">- O nosso sistema foi desenvolvido com o objetivo de conectar alunos a personal trainers de forma
        eficiente e eficaz, permitindo que ambos os lados encontrem a solução ideal para suas necessidades.</p>

    <p class="texto">- O diferencial do nosso sistema é que os alunos podem solicitar e visualizar fichas de treinamento,
        agendar horários e conversar com seus personal trainers para discutir metas, desafios e progresso. Por outro
        lado, os personal trainers podem montar fichas de treinamento personalizadas para cada aluno, gerenciar sua
        agenda e acompanhar a evolução de seus alunos.</p>

    <p class="texto">- Em relação aos pagamentos, é importante lembrar que eles são feitos por aula e devem ser realizados
        antes do início da sessão. O cancelamento da aula deve ser feito com pelo menos 24 horas de antecedência, para
        que o personal trainer possa se programar adequadamente e evitar qualquer prejuízo para ambos os lados.</p>

    <p class="texto">- Para garantir a qualidade do serviço prestado, pedimos que os alunos e personal trainers respeitem
        as políticas de aulas e pagamentos e estejam sempre dispostos a colaborar um com o outro para alcançar seus
        objetivos de forma eficiente e eficaz.</p>

        </div>
</body>

</html>
