<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Cadastro</title>
  <link rel="stylesheet" href="../css/cadastro.css">
</head>
<body>
  <nav class="navbar">
  </nav>
  <div class="body">
    
    <div class="right-cadastro">
      <div class="card-cadastro">
        <h1>CONFIRME SEU CADASTRO COMO ALUNO</h1>
        
        <form action="/aluno/cadastro" method="POST" class="login-form">
          <div class="form-group">
            <label for="name">Nome completo</label>
            <input name="nome" type="name" class="form-field" placeholder="Nome completo" />
            <span class="form-error"></span>
          </div>
          <div class="form-group">
            <label for="date">Data de nascimento</label>
            <input name="date" type="date" class="form-field" placeholder="Senha" />
            <span class="form-error"></span>
          </div>
          <div class="form-group">
            <label for="genero">Gênero</label>
            <select name="genero" class="form-field">
            <option value="">Selecione o gênero</option>
            <option value="masculino">Masculino</option>
            <option value="feminino">Feminino</option>
  
          </select>
            <span class="form-error"></span>
          
          <div class="form-group">
            <label for="altura">Altura (cm)</label>
            <input type="number" name="altura" class="form-field" placeholder="Digite sua altura">
             <span class="form-error"></span>
          </div>

          <div class="form-group">
            <label for="peso">Peso (kg)</label>
            <input type="number" name="peso" class="form-field" placeholder="Digite seu peso">
            <span class="form-error"></span>
          </div>

          <div class="form-group">
            <label for="idade">Idade</label>
            <input type="number" name="idade" class="form-field" placeholder="Digite sua idade">
            <span class="form-error"></span>
          </div>
          

          <button class="button" type="submit">CADASTRAR</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
