<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ficha</title>
  <link rel="stylesheet" href="../css/fichas.css">
</head>
<body>

  <div class="wrapper">
    <div class="container">
    
      <form action="/personal/ficha" method="POST">
        <div class="form-group">
              <div class="title">
        <h1>Fichas de treinamento</h1>
        </div>
          <h4>Escolha uma opção</h4>

   
    <a href="montar-ficha" class="botao">Criar nova ficha de treinamento</a>

    <a href="fichas-cadastradas" class="botao">Ver fichas cadastradas</a>
        </div>
    </div>
</div>


</body>
</html>