.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.nav {
  margin-top: 0;
  display: flex;
  max-width: max-content;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  background-color: #06080D;
}

.list {
  display: flex;
  max-width: max-content;
  gap: 1rem;
  background-color: #06080D;
}

.list a {
  text-decoration: none;
  color: white;
}

.list a:hover,
.list a.active {
  color: red;
  text-decoration: underline;
}

h2 {
  color: red;
  margin-left: 1rem;
}

ul li {
  list-style-type: none;
  padding: 15px 17.5px;
}

